*{margin:0; padding: 0;font-family: 'Segoe ui';-webkit-font-smoothing: antialiased;}
a{text-decoration: none;}
#wrapper{   background-image: linear-gradient(rgb(224, 241, 255),white);}
/* Frontpage */
.front{
    background-image: url(img/home.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-position-y: 80px;
    /* height: calc(100vh - 60px); */
    height: 100vh;  }
/* Navbar */
    .front .nav{
        width: 80%;
        margin: auto;
        padding: 20px 0px;
        font-size:1.1rem;
        /* background-color: red; */
        display: block;
        display: flex;  }
        .front .nav ul{
            /* background-color:yellow; */
            list-style: none;   }
            .front .nav ul li{
                /* background-color: red; */
                cursor:pointer;
                transition:transform 1s;
                text-align: left;
                display: inline-block;
                padding: 15px;
                font-weight: 600;   }
                .front .nav ul li:hover{
                    transform: scale(1.2); 
                    color: red; }
            .front .nav ul li a,i{
                text-decoration: none;
                color:black;    }
        .front .nav .left{
            flex-basis: 50%;
            text-align: left;   }
        .front .nav .right{
            flex-basis: 50%;
            text-align: right;  }
            .front .nav .hider{
                display: none;}
            .front .nav .right #getstarted{
                background-color:  rgb(102, 33, 167);
                border-radius:10px;
                color: white;
                padding: 10px 13px;}
    /* Banner */
    .front .main{
        margin: auto;
        /* background-color: yellow; */
        padding-top:10em;
        height: calc(100% - 260px);
        width: 80%;}
        .front .main .maintext{
            width: 50%;
            font-size: 3.2rem;
            font-weight: 700;}
        .front .main .secondtextline{
            width: 45%;
            font-size: 1.1rem;
            margin-top: 10px;
            color:#676767}
        .front .main .buttonline{
            width: 45%;
            margin-top: 30px;
            color:#676767;
            /* background-color: red; */}
        .front .main .buttonline .button{
            padding: 13px 35px;
            background-color: rgb(102, 33, 167);
            color: white;
            font-weight: 500;
            border-radius: 50px;
            font-size: 15px;
            margin-right: 5px; }
            .front .main .buttonline .button:hover{
                background-color:#ef4358;      }
            .front .main .buttonline .custombutton{
                /* color: rgb(0, 190, 253); */
                color: #6621a7 ;
                font-weight: 700;
                margin-left: 5px;}
                .front .main .buttonline .custombutton:hover{
                    color:#ef4358;       }
/*Second section  */
.second{    margin-bottom: 100px;   }
    .second .heading{
    margin: auto;
    text-align: center;
    font-size:5.8vh;
    line-height: 5.8vh;
    font-weight: 800;
    color:#272727;
    margin-bottom: 20px;}
    .second .section{
    display: flex;
    width: 80%;
    margin: auto;}
        .section .card, .card2, .card3{
            /* background-color: yellow; */
            padding  : 20px;
            margin: auto;
            width: 30%;
            cursor:pointer;
            transition:transform .7s ease-in-out;}
            .section .card:hover, .card2:hover, .card3:hover{
                transform: scale(1.05);     }
            .section .card .cardimage, .card2 .cardimage, .card3 .cardimage{
                border-radius: 20px;
                overflow: hidden;
                margin: auto;}
        .section img{width: 100%;}
        .section .card{    margin-top: 0px;}
        .section .card2{   margin-top: 50px;}
        .section .card3{   margin-top: 100px;}
    .section h1{
        font-size: 3vh;
        margin-top: 20px;
        margin-bottom: 10px;
        letter-spacing: 0.5px;}
    .section p{
        color: #676767;
        margin-bottom: 20px;}
    .section a{
        color: rgb(0, 190, 253);
        text-decoration:none ;
        font-weight: 700;}
        .section a:hover{
            color:#6621a7 ;    }




@media only screen and (max-width: 400px) {
    #wrapper{
        width: 100%;
    }
    .front .nav .left, .right{
        display: none;
    }
    .front .nav{
        width: 100%;
        padding: 5px 0px;
    }
    .front .nav ul li{
        /* background-color: red; */
    }
    .front .nav .hider{
        display: block;
        /* background-color: red; */
        flex-basis: 100%;
        text-align: right;}
    .front{
        background-position-y: 20px;
    }
    .front .main{
        padding-top:20em;
        /* background-color: red; */
        /* opacity: .5; */
        /* background-image: linear-gradient(white,red); */
        width: 85%;
    }
    .front .main .maintext{
        font-size: 1.5rem;
        width: 100%;
        font-weight: 1000;
        text-align: center;
    }
    .front .main .secondtextline{
        font-size: .8rem;
        width: 100%;
        text-align: center;
    }
    .front .main .buttonline{
        width: 100%;
        /* background-color: red; */
    }
    .front .main .buttonline .button{
        padding: 8px 15px;
        font-size: 13px;
        }
    .front .main .buttonline .custombutton{
        font-size: 13px ;
    }
    .second{
        /* display: none; */
    }
    .second .heading{
        font-size:4.5vh;
        line-height:4.5vh;
    }
    .second .section{
    display: block;
    width:85%;
    }
    .section .card, .card2, .card3{
    width: calc( 100% - 40px);
    text-align: center;
    }
    .section .card{    margin-top: 0px;}
    .section .card2{   margin-top: 30px;}
    .section .card3{   margin-top: 30px;}
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1400px) {
}



